/* MainLayout.css */

.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el layout ocupe toda la altura de la pantalla */
}

.main-content {
    flex: 1; /* Hace que el contenido ocupe todo el espacio disponible */
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 1rem; /* Añade algo de padding al contenido */
    box-sizing: border-box; /* Incluye padding en el tamaño total del contenedor */
}

