rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir lectura de todas las colecciones a cualquier usuario
    match /{document=**} {
      allow read;
    }
    
    // Permitir que cualquier usuario (autenticado o no) cree órdenes
    match /ordenes/{orderId} {
      allow create: if true;
      allow update, delete: if request.auth.token.role == "admin";
    }
    
  }
}
