/* src/pages/Admin/CreateProduct.css */

.create-product {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.create-product h2 {
    margin-bottom: 1.5rem;
    color: var(--color-primario);
}

.create-product form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-product input,
.create-product textarea,
.create-product select {
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-primario);
}

.create-product button {
    padding: 0.75rem;
    background-color: var(--color-primario);
    color: --color-blanco;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.create-product button:hover {
    background-color: var(--color-destacado);
    color: --color-negro;
}
