/* src/components/TutorialCard/TutorialCard.css */

.tutorial-card {
  border: 2px solid var(--highlight-color);
  padding: 1.25rem;
  border-radius: 1rem;
  width: 250px;
  box-shadow: 0 2px 8px var(--highlight-color);
  background-color: #fff;
  overflow: hidden; /* Para evitar que las imágenes sobresalgan de las tarjetas */
}

.tutorial-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Para asegurar que las imágenes se adapten al tamaño sin distorsionarse */
  border-radius: 1rem;
}

.view-more-btn {
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.view-more-btn:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
}
