/* src/pages/ConfirmacionPedido.css */

.confirmacion-container {
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    text-align: center;
  }
  
  .confirmacion-container h2 {
    color: var(--color-primario);
    margin-bottom: 1rem;
  }
  
  .confirmacion-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .confirmacion-container a {
    background-color: var(--color-primario);
    color: --color-blanco;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .confirmacion-container a:hover {
    background-color: var(--color-destacado);
    color: --color-negro;
  }
  