/* src/pages/RegistroPostCompra.css */

.boton-google {
  width: 100%;
  padding: 0.5rem;
  background-color: #db4437;
  color: white;
  align-items: center;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transicion-suave);
  margin-bottom: .25rem;
}

.boton-google:hover {
  background-color: #c33d2f;
}

.separador {
  margin: .5rem 0;
  text-align: center;
  position: relative;
  font-size: .9rem;
  color: #666;
}

.separador::before,
.separador::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ccc;
  position: absolute;
  top: 50%;
}

.separador::before {
  left: 0;
}

.separador::after {
  right: 0;
}

.registro-info-text {
  margin-bottom: 1rem;
  color: var(--color-verde);
  font-weight: 500;
}
