/* src/pages/Registro.css */
.boton-google {
  width: 100%;
  padding: 0.5rem;
  background-color: #db4437;
  color: var(--color-blanco);
  align-items: center;
  font-weight: bold;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transicion-suave);
  margin-bottom: 0.25rem;
}

.boton-google:hover {
  background-color: #c33d2f;
}

/* Separador visual entre opciones */
.separador {
  margin: 0.5rem 0;
  text-align: center;
  position: relative;
  font-size: 0.9rem;
  color: #666;
}

.separador::before,
.separador::after {
  content: "";
  height: 1px;
  width: 40%;
  background: #ccc;
  position: absolute;
  top: 50%;
}

.separador::before {
  left: 0;
}

.separador::after {
  right: 0;
}
