/* NavBar/NavBar.css */

.navbar {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--secondary-color);
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.navbar li {
  font-size: 1.2em;
}

.navbar a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--highlight-color);
}

.logo img {
  height: 3.5em; 
  border-radius: 2rem;
  width: auto;
  display: block;
}
.logo img:hover {
  border: 1px solid white;
}
