/* Footer/Footer.css */

.footer {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    background-color: var(--color-primario);
    color: var(--color-secundario);
    width: 100%;
    padding: 1rem 0; /* Ajusta el padding para el footer */
}

.footer .footer-container {
    width: 80%; /* El contenedor interno ocupará el 80% del ancho */
    text-align: center;
}

.footer a {
    color: var(--color-secundario);
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: var(--color-destacado);
}

