/* src/components/Carrito/Carrito.css */
.carrito-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrito {
  background-color: --color-blanco;
  padding: 2rem;
  border-radius: var(--radio-borde);
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.carrito-titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.carrito-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.carrito-item-nombre,
.carrito-item-precio {
  font-size: 1rem;
}

.carrito-controles-cantidad {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.carrito-item-total {
  font-weight: bold;
  margin-top: 0.5rem;
  display: inline-block;
}

.carrito-boton-eliminar,
.carrito-boton-cerrar {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-oscuro);
  color: --color-blanco;
  border: none;
  border-radius: var(--radio-borde);
  cursor: pointer;
}

.carrito-boton-eliminar:hover,
.carrito-boton-cerrar:hover {
  background-color: var(--color-destacado);
  color: --color-negro;
}

.carrito-vacio {
  font-style: italic;
  text-align: center;
}
