/* src/assets/global.css */

/* Reset general de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */


/* Estilo base para body */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Contenedor general */
.contenedor {
  width: 100%;
  margin: 0 auto;
  padding: var(--espaciado);
  max-width: var(--ancho-maximo);
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-acento);
}

/* Botones */
.btn {
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--color-acento);
}

/* Listas */
ul {
  list-style: none;
}

li {
  font-size: 1rem;
}
