.tienda {
    padding: 1rem;
    text-align: center;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* O cualquier otro valor de distribuci칩n que prefieras */
    gap: 1rem; /* Espacio entre las tarjetas */
  }
  
  .product-card {
    border: 2px solid var(--highlight-color);
    padding: 1.25rem;
    border-radius: 1rem;
    width: 250px;
    box-shadow: 0 2px 8px var(--highlight-color);
    background-color: #fff;
    overflow: hidden; /* Para evitar que las im치genes sobresalgan de las tarjetas */
  }
  
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Para asegurar que las im치genes se adapten al tama침o sin distorsionarse */
    border-radius: 1rem;
  }
  
  .add-to-cart-btn {
    padding: 0.75rem 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.25s ease;
  }
  
  .add-to-cart-btn:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
  }
  