/* src/pages/Tienda/Tienda.css */
.tienda {
  padding: 1rem;
  text-align: center;
}

.lista-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem; /* Espacio entre las tarjetas */
}

.tarjeta-producto {
  border: 2px solid var(--color-destacado);
  padding: 1.25rem;
  border-radius: 1rem;
  width: 250px;
  box-shadow: 0 2px 8px var(--color-destacado);
  background-color: #fff;
  overflow: hidden; /* Para evitar que las imágenes sobresalgan de las tarjetas */
}

.imagen-producto {
  width: 100%;
  height: auto;
  object-fit: cover; /* Para asegurar que las imágenes se adapten al tamaño sin distorsionarse */
  border-radius: 1rem;
}

.boton-agregar-carrito {
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.25s ease;
}

.boton-agregar-carrito:hover {
  background-color: var(--color-destacado);
  color: var(--color-primario);
}

/* Otros estilos específicos de la tienda */
h1 {
  color: var(--color-primario);
}
