/* src/App.css */

/* === Variables Globales === */
:root {
  --color-primario: #457b9d;
  --color-secundario: #fafafa;
  --color-destacado: #a8dadc;
  --color-oscuro: #5f065ff6;
  --color-amarillo: #ffd700;
  --color-texto: #333;
  --color-blanco:#ffffff;
  --color-negro:#000;
  --color-verde: rgba(14, 155, 26, 0.836);
  --radio-borde: 0.75rem;
  --padding: 1rem;
  --ancho-maximo: 1280px;
  --fuente-base: 1rem;
  --fuente-lg: 1.2rem;
  --velocidad-transicion: 0.3s;


  --radio-borde: 8px;
  --espaciado: 1rem;
  --ancho-maximo: 1280px;
}

/* === Reset Básico === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === Tipografía Base === */
body {
  font-family: 'Arial', sans-serif;
  font-size: var(--fuente-base);
  line-height: 1.5;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* === Contenedor General === */
.aplicacion {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contenido-principal {
  flex: 1;
  padding: 1rem;
}

/* === Enlaces === */
a {
  text-decoration: none;
  color: inherit;
  transition: color var(--velocidad-transicion);
}

a:hover {
  color: var(--color-destacado);
}

/* === Contenedor Centrado === */
.contenedor {
  width: 100%;
  margin: 0 auto;
  padding: var(--padding);
  max-width: var(--ancho-maximo);
}

/* === Listas === */
ul {
  list-style: none;
}

li {
  font-size: 0.875rem;
  overflow: hidden;
}

/* === Botones Generales === */
.boton {
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--color-primario);
  color: --color-blanco;
  border-radius: var(--borde-redondeado);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color var(--velocidad-transicion);
}

.boton:hover {
  background-color: var(--color-destacado);
  color: --color-negro;
}
