/* global.css */

/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Colores globales */
:root {
  --primary-color: #457b9d; /* Azul */
  --secondary-color: #fafafa; /* Gris claro */
  --highlight-color: #a8dadc; /* Azul claro */
  --dark-color: #5f065ff6; /* Color para botones, enlaces y header */
}

/* Estilos generales de enlaces */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--highlight-color);
}

/* Estilos para el contenedor principal */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1280px;
}

ul {
  list-style: none;
}

li {
  font-size: 1rem;
}

