/* src>pages>admin>adminpanel.css */
.admin-panel {
  padding: 2rem;
}

.admin-panel h1 {
  color: var(--color-primario);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.admin-panel nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.admin-panel nav a {
  text-decoration: none;
  color: var(--color-primario);
  font-weight: bold;
  transition: color 0.3s;
}

.admin-panel nav a:hover {
  color: var(--color-destacado);
}