/* Estilos del carrito */
.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 50px;
}

.cart-item span {
  font-size: 1rem;
  margin-right: 1rem;
}

.cart-item button {
  padding: 0.5rem;
  background-color: #500550f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item button:hover {
  background-color: #720172af;
}

.vaciar-carrito {
  padding: 1em;
  background-color: #500550f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1em;
  display: block;
}

.vaciar-carrito:hover {
  background-color: #720172af;
}

/* Estilos adicionales */
.btn-carrito {
  margin-inline: 5px;
  padding: 0.5rem 1rem;
  background-color: #500550f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-carrito:hover {
  background-color: #720172af;
}


.total-compra {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: #500550f6;
}
